/** General */
:root{
    --primary-color: rgb(195, 40, 48);
    --secondary-color: rgb(0, 44, 107);
    --black-color: rgb(24, 24, 27);
    --white-color: white;
    --background-color: rgb(0, 44, 107);
}
html{
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    min-width: 300px;
    overflow-x: hidden;
}
body{
    background-color: var(--background-color);

    font-family: 'Ubuntu', sans-serif;
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    height: 100%;
}
::-webkit-scrollbar, ::-webkit-scrollbar-thumb {
    display: none;
}

/** Header */
.bg-dark{
    background-color: var(--black-color) !important;
}
nav{
    font-size: x-large;
    font-weight: bolder;
    text-transform: uppercase;
    z-index: 1;
}
nav ul li a.nav-link, nav ul li a.nav-link:after,nav ul li a.nav-link:before {
    color: var(--white-color) !important;
    transition: all .5s;
    margin: -5px 5px -5px 0 !important;
}
.navbar-brand{
    margin: -5px 5px -5px 0 !important;
}
nav ul li a.nav-link:hover, a.dropdown-toggle:hover:after {
    color: var(--primary-color) !important;
}

.container-links{
    margin-top: -3px;
    font-size: xx-large;
}
nav ul li a.nav-link.twitter:hover {
    color: rgb(29, 155, 240) !important;
}
nav ul li a.nav-link.discord:hover {
    color: rgb(86, 98, 246) !important;
}
nav ul li a.nav-link.youtube:hover {
    color: rgb(253, 0, 0) !important;
}
nav ul li a.nav-link.twitch:hover {
    color: rgb(146, 70, 255) !important;
}

a.dropdown-toggle{
    position: relative;
    top: 8px;
}
a.dropdown-toggle:after {
    position: relative;
    top: -5px !important;
}
.dropdown-menu-dark{
    background-color: #080808 !important;
}
.dropdown-menu-dark a{
    color: var(--white-color) !important;
}
.dropdown-menu-dark a:hover{
    background-color: var(--white-color) !important;
    color: #080808 !important;
    font-weight: bold;
}

@media screen and (min-width: 992px) {
    nav ul li a.nav-link, nav ul li a.nav-link:after,nav ul li a.nav-link:before {
        margin: -12px 5px -12px 0 !important;
    }
    .navbar-brand{
        margin: -12px 5px -12px 0 !important;
    }
    .dropdown-menu-dark{
        margin-left: 100px;
        position: absolute;
    }
    a.dropdown-toggle:after {
        position: relative;
        top: -10px !important;
    }
}

/** Footer */
footer{
    width: 100%;
    bottom: 0;
    z-index: 1;
}
.container, .container-fluid{
    flex: 1 0 auto;
}

/** Main */
h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    text-shadow: 3px 3px 3px var(--primary-color);
    font-size: 3rem;
}
h2{
    text-transform: uppercase;
    font-weight: bolder;
    text-shadow: 3px 3px 3px var(--primary-color);
    font-size: 2.5rem;
    padding-left: 10px;
    border-left: 5px solid var(--primary-color);
}

a, a:hover{
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: none;
}

/** Twitch */
.twitch .twitch-video {
    padding-top: 56.25%;
    position: relative;
    height: 0;
}
  
.twitch .twitch-video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
.twitch .twitch-chat {
    height: 400px;
}
  
.twitch .twitch-chat iframe {
    width: 100%;
    height: 100%;
}
@media screen and (min-width: 980px) {
    .twitch {
        position: relative;
    }
    
    .twitch .twitch-video {
        width: 77.3%;
        height: max-content;
        padding-top: 43.49%;
    }
  
    .twitch .twitch-chat {
        width: 22.7%;
        height: auto;
        position: absolute;
        top: 0;
        right: 7px;
        bottom: 0;
    }
}
.youtube .youtube-video{
    padding-top: 56.25%;
    position: relative;
    height: 0;
}
.youtube .youtube-video iframe {
    position: absolute;
    width: 100%;
    top: 0;
}