<div class="twitch">
    <div class="twitch-video">
        <iframe frameborder="0" scrolling="no" allowfullscreen="true"height="100%" width="100%" title="stream"
            src="https://player.twitch.tv/?channel=nemaidestft&parent=nemaides.fr&parent=www.nemaides.fr">
        </iframe>
    </div>
    <div class="twitch-chat">
        <iframe frameborder="0" scrolling="no" height="100%" width="100%" title="chat"
            src="https://www.twitch.tv/embed/nemaidestft/chat?darkpopout&parent=nemaides.fr&parent=www.nemaides.fr">
        </iframe>
    </div>
</div>