<h1 class="pb-3"><img src="./zlan.png" alt="ZLAN 2021" height="85px"></h1>


<div class="row mt-5 text-nowrap">
    <div class="col-12 col-lg-3">
        <h2 class="mb-3">Équipe</h2>
        <h4><strong>DFG eSports</strong></h4>
        <ul>
            <li>Némaïdès</li>
            <li>Fusiow</li>
            <li>ToonTV</li>
        </ul>
    </div>
    <div class="col-12 col-lg-5">
        <h2 class="mb-3 mb-xl-4">Phase de Poules</h2>
        <div class="row d-none d-xl-flex">
            <div class="col-5">
                <ul>
                    <li><strong>Valheim</strong> : 6<sup>ème</sup></li>
                    <li><strong>Battlerite Royale</strong> : 2<sup>ème</sup></li>
                    <li><strong>Geoguessr</strong> : 2<sup>ème</sup></li>
                    <li><strong>Trials Rising</strong> : 1<sup>er</sup></li>
                </ul>
            </div>
            <div class="col-7">
                <ul>
                    <li><strong>Warcraft III</strong> : 1<sup>er</sup></li>
                    <li><strong>Quake Live</strong> : 3<sup>ème</sup></li>
                    <li><strong>Trackmania</strong> : 3<sup>ème</sup></li>
                    <li><strong>Total</strong> : 2<sup>ème</sup> de la Poule 4</li>
                </ul>                
            </div>
        </div>
        <ul class="d-block d-xl-none">
            <li><strong>Valheim</strong> : 6<sup>ème</sup></li>
            <li><strong>Battlerite Royale</strong> : 2<sup>ème</sup></li>
            <li><strong>Geoguessr</strong> : 2<sup>ème</sup></li>
            <li><strong>Trials Rising</strong> : 1<sup>er</sup></li>
            <li><strong>Warcraft III</strong> : 1<sup>er</sup></li>
            <li><strong>Quake Live</strong> : 3<sup>ème</sup></li>
            <li><strong>Trackmania</strong> : 3<sup>ème</sup></li>
            <li><strong>Total</strong> : 2<sup>ème</sup> de la Poule 4</li>
        </ul>     
    </div>
    <div class="col-12 col-lg-4">
        <h2 class="mb-3">8<sup>ème</sup> de Finale</h2>
        <h4><strong>DFG eSports</strong> VS <strong>Team KEK</strong></h4>
        <ul>
            <li><strong>Trackmania</strong> : Défaite</li>
            <li><strong>Battlerite</strong> : Victoire</li>
            <li><strong>Farming Simulator</strong> : Défaite</li>
        </ul>
    </div>
</div>

